<div class="container">
	<div class="row">
		<div class="col-lg-3"></div>
		<div class="col-lg-6">
            <h1>Welcome to <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers  !!</h1>
            <p>In  Bookers,<br>you can share and exchange your opinions , inpressions , and emotions<br>about various books!</p>
            <p><%= link_to "Log in", new_user_session_path, class: "btn btn-primary btn-lg btn-block"  %>
            </p>
            <p><%= link_to "Sign up", new_user_registration_path, class: "btn btn-success btn-lg btn-block"  %>
            </p>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>